**Table of Contents** <br>
* [1. Initial Setup](#setup)
    * [1.1. Import Libraries and Initial Definitions](#importlibraries)
    * [1.2. Import Data](#importdata)
* [2. Data Exploration](#dataexploration)
* [3. Data Preprocessing](#datapreprocessing)
    * [3.1. Data Preparation](#datapreparation)
* [4. Export](#export)

<hr>
<a class="anchor" id="setup">
    
# 1. Initial Setup
    
</a>

<a class="anchor" id="importlibraries">

## 1.1. Import Libraries and Initial Definitions

</a>

## <a href="https://github.com/owid/energy-data">GitHub Page</a>
### <a href="https://github.com/owid/energy-data/blob/master/owid-energy-codebook.csv">Metadata Info</a>

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import re
import plotly.express as px
import pycountry_convert as pc

<a class="anchor" id="importlibraries">

## 1.2. Import Data

</a>

In [2]:
ds=pd.read_csv('owid-energy-data.csv')

In [3]:
ds.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<hr>
<a class="anchor" id="dataexploration">
    
# 2. Data Exploration
    
</a>

### Filter the dataset by the necessary features and years

In [4]:
# By Columns
ds = ds[['country', 
         'year',
         'population',
         'gdp',
         'biofuel_elec_per_capita',
         'biofuel_electricity',
         'coal_elec_per_capita',
         'coal_electricity',
         'gas_elec_per_capita',
         'gas_electricity',
         'hydro_elec_per_capita',
         'hydro_electricity',
         'nuclear_elec_per_capita',
         'nuclear_electricity',
         'oil_elec_per_capita',
         'oil_electricity',
         'other_renewables_elec_per_capita',
         'other_renewable_electricity',
         'solar_elec_per_capita',
         'solar_electricity',
         'wind_elec_per_capita',
         'wind_electricity',
        ]]
         
ds.head()

,country,year,population,gdp,biofuel_elec_per_capita,biofuel_electricity,coal_elec_per_capita,coal_electricity,gas_elec_per_capita,gas_electricity,...,nuclear_elec_per_capita,nuclear_electricity,oil_elec_per_capita,oil_electricity,other_renewables_elec_per_capita,other_renewable_electricity,solar_elec_per_capita,solar_electricity,wind_elec_per_capita,wind_electricity
0,Afghanistan,1900,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
np.unique(ds['year'])

array([1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910,
       1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921,
       1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932,
       1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943,
       1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022], dtype=int64)

In [6]:
# By Year
ds = ds[(ds['year'] > 1984) & (ds['year']<2021)]

### Exploration

In [7]:
# Checking how many observations and how many features we have
ds.shape

(10400, 22)

In [8]:
# Checking data types
ds.dtypes

country                              object
year                                  int64
population                          float64
gdp                                 float64
biofuel_elec_per_capita             float64
biofuel_electricity                 float64
coal_elec_per_capita                float64
coal_electricity                    float64
gas_elec_per_capita                 float64
gas_electricity                     float64
hydro_elec_per_capita               float64
hydro_electricity                   float64
nuclear_elec_per_capita             float64
nuclear_electricity                 float64
oil_elec_per_capita                 float64
oil_electricity                     float64
other_renewables_elec_per_capita    float64
other_renewable_electricity         float64
solar_elec_per_capita               float64
solar_electricity                   float64
wind_elec_per_capita                float64
wind_electricity                    float64
dtype: object

In [9]:
# Checking if the dataset has duplicated observations
ds.duplicated().sum()

0

In [10]:
# Descriptive Statistics of the numerical values
ds.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
country,10400,305,Afghanistan,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,10400.0,NaN,NaN,NaN,2002.645769,10.274561,1985.0,1994.0,2003.0,2012.0,2020.0
population,8163.0,NaN,NaN,NaN,114232181.600025,562798401.70898,1833.0,756329.0,6090987.0,23467754.0,7840952832.0
gdp,5559.0,NaN,NaN,NaN,536507845429.9953,3317342355771.328125,209656000.0,16856868864.0,55429943296.0,262867910656.0,113630171365376.0
biofuel_elec_per_capita,4977.0,NaN,NaN,NaN,61.528267,192.517384,0.0,0.0,0.077,33.228,2406.938
biofuel_electricity,5187.0,NaN,NaN,NaN,10.544625,44.647254,0.0,0.0,0.01,0.67,605.08
coal_elec_per_capita,5533.0,NaN,NaN,NaN,708.2986,1351.563078,0.0,0.0,0.0,814.128,9103.898
coal_electricity,6067.0,NaN,NaN,NaN,319.424872,1080.6001,0.0,0.0,0.25,35.905,9902.09
gas_elec_per_capita,5533.0,NaN,NaN,NaN,859.281775,2264.994007,0.0,0.0,64.141,794.545,21014.66
gas_electricity,6067.0,NaN,NaN,NaN,165.374998,525.154381,0.0,0.0,2.158,41.653,6208.6
hydro_elec_per_capita,6076.0,NaN,NaN,NaN,953.92714,3266.294011,0.0,1.9325,120.6475,697.427,41622.867
hydro_electricity,6754.0,NaN,NaN,NaN,121.554019,382.302375,0.0,0.03775,2.935,23.5325,4340.61
nuclear_elec_per_capita,6112.0,NaN,NaN,NaN,378.449447,1075.071278,0.0,0.0,0.0,0.0,8931.636
nuclear_electricity,6718.0,NaN,NaN,NaN,111.393359,380.27824,0.0,0.0,0.0,7.7545,2724.08
oil_elec_per_capita,5533.0,NaN,NaN,NaN,775.082964,1688.332765,0.0,28.5,152.474,526.368,11547.416
oil_electricity,6067.0,NaN,NaN,NaN,47.771174,142.108953,0.0,0.13,1.63,13.427,1364.747
other_renewables_elec_per_capita,5963.0,NaN,NaN,NaN,113.474171,784.09696,0.0,0.0,0.489,48.1745,17027.861
other_renewable_electricity,6636.0,NaN,NaN,NaN,14.075453,51.387904,0.0,0.0,0.03,1.86,699.36
solar_elec_per_capita,6035.0,NaN,NaN,NaN,14.959411,60.611741,0.0,0.0,0.0,0.4415,1157.675
solar_electricity,6708.0,NaN,NaN,NaN,5.338284,36.942899,0.0,0.0,0.0,0.02,852.1
wind_elec_per_capita,6026.0,NaN,NaN,NaN,59.012332,236.852448,0.0,0.0,0.0,3.038,3128.911
wind_electricity,6699.0,NaN,NaN,NaN,16.12379,85.707896,0.0,0.0,0.0,0.2,1586.92

In [11]:
# Checking countrys and regions
ds.country.unique()

array(['Afghanistan', 'Africa', 'Africa (BP)', 'Africa (Ember)',
       'Africa (Shift)', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Asia', 'Asia & Oceania (EIA)', 'Asia (Ember)',
       'Asia Pacific (BP)', 'Asia and Oceania (Shift)', 'Australia',
       'Australia and New Zealand (EIA)', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS (BP)', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (BP)',
       'Central and South America (Shift)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'EU28 (Shift)',
       'East Germany (EIA)', 'Eastern Africa (BP)', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Eurasia (EIA)', 'Eurasia (Shift)',
       'Europe', 'Europe (BP)', 'Europe (Ember)', 'Europe (Shift)',
       'European Union (27)', 'European Union (27) (Ember)',
       'European Union (EIA)', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'G20 (Ember)', 'G7 (Ember)', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Hawaiian Trade Zone (EIA)',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'IEO - Africa (EIA)', 'IEO - Middle East (EIA)',
       'IEO OECD - Europe (EIA)', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latin America and Caribbean (Ember)',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico',
       'Mexico, Chile, and other OECD Americas (EIA)',
       'Micronesia (country)', 'Middle Africa (BP)', 'Middle East (BP)',
       'Middle East (EIA)', 'Middle East (Shift)', 'Moldova', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Non-OECD (BP)', 'Non-OECD (EIA)', 'Non-OPEC (EIA)',
       'North America', 'North America (BP)', 'North America (Ember)',
       'North America (Shift)', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'OECD (BP)', 'OECD (EIA)',
       'OECD (Ember)', 'OECD (Shift)', 'OECD - Asia And Oceania (EIA)',
       'OECD - Europe (EIA)', 'OECD - North America (EIA)', 'OPEC (EIA)',
       'OPEC (Shift)', 'OPEC - Africa (EIA)',
       'OPEC - South America (EIA)', 'Oceania', 'Oceania (Ember)', 'Oman',
       'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)',
       'Other Non-OECD - Europe and Eurasia (EIA)', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea',
       'South Korea and other OECD Asia (EIA)', 'South Sudan',
       'South and Central America (BP)', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Total Non-OPEC (BP)', 'Total OPEC (BP)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'U.S. Pacific Islands (EIA)',
       'U.S. Pacific Islands (Shift)', 'U.S. Territories (EIA)',
       'U.S. Territories (Shift)', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany (EIA)',
       'Western Africa (BP)', 'Western Sahara', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
def delete_strings(lst, words, xs):
    """
    Deletes strings from a list if they contain certain words, except for certain exceptions.

    Args:
        lst (list): The list of strings to check.
        words (list): The list of words to look for in the strings.
        xs (list): The list of exceptions - strings containing the corresponding word in this list will not be deleted.

    Returns:
        list: A new list with the strings containing the specified words, except for the corresponding exceptions, removed.
    """
    pattern = '|'.join([fr'\b{w}\b' for w in words])
    result = [s for s in lst if not re.search(pattern, s) or any(x in s for x in xs)]
    return result

In [13]:
countrylist = ds['country'].unique().tolist()
countrylist

['Afghanistan',
 'Africa',
 'Africa (BP)',
 'Africa (Ember)',
 'Africa (Shift)',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Asia & Oceania (EIA)',
 'Asia (Ember)',
 'Asia Pacific (BP)',
 'Asia and Oceania (Shift)',
 'Australia',
 'Australia and New Zealand (EIA)',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'CIS (BP)',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central & South America (EIA)',
 'Central African Republic',
 'Central America (BP)',
 'Central and South America (Shift)',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Czechoslovakia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'EU28 (Shift)',
 'East Germany (EIA)',
 'Eastern Africa (BP)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Eurasia (EIA)',
 'Eurasia (Shift)',
 'Europe',
 'Europe (BP)',
 'Europe (Ember)',
 'Europe (Shift)',
 'European Union (27)',
 'European Union (27) (Ember)',
 'European Union (EIA)',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'G20 (Ember)',
 'G7 (Ember)',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Hawaiian Trade Zone (EIA)',
 'High-income countries',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'IEO - Africa (EIA)',
 'IEO - Middle East (EIA)',
 'IEO OECD - Europe (EIA)',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latin America and Caribbean (Ember)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Low-income countries',
 'Lower-middle-income countries',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mexico, Chile, and other OECD Americas (EIA)',
 'Micronesia (country)',
 'Middle Africa (BP)',
 'Middle East (BP)',
 'Middle East (EIA)',
 'Middle East (Shift)',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Non-OECD (BP)',
 'Non-OECD (EIA)',
 'Non-OPEC (EIA)',
 'North America',
 'North America (BP)',
 'North America (Ember)',
 'North America (Shift)',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OECD (BP)',
 'OECD (EIA)',
 'OECD (Ember)',
 'OECD (Shift)',
 'OECD - Asia And Oceania (EIA)',
 'OECD - Europe (EIA)',
 'OECD - North America (EIA)',
 'OPEC (EIA)',
 'OPEC (Shift)',
 'OPEC - Africa (EIA)',
 'OPEC - South America (EIA)',
 'Oceania',
 'Oceania (Ember)',
 'Oman',
 'Other Non-OECD - America (EIA)',
 'Other Non-OECD - Asia (EIA)',
 'Other Non-OECD - Europe and Eurasia (EIA)',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Persian Gulf (EIA)',
 'Persian Gulf (Shift)',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Korea',
 'South Korea and other OECD Asia (EIA)',
 'South Sudan',
 'South and Central America (BP)',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Tonga',
 'Total Non-OPEC (BP)',
 'Total OPEC (BP)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'U.S. Pacific Islands (EIA)',
 'U.S. Pacific Islands (Shift)',
 'U.S. Territories (EIA)',
 'U.S. Territories (Shift)',
 'USSR',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Upper-middle-income countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wake Island (EIA)',
 'Wake Island (Shift)',
 'West Germany (EIA)',
 'Western Africa (BP)',
 'Western Sahara',
 'World',
 'Yemen',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [14]:
word = ['EIA', 'Ember', 'BP', 'Shift', 'Antarctica', 'Africa', 'Asia','Netherlands Antilles','Czechoslovakia', 'Europe', 'America', '27', 'High-income countries', 'Low-income countries', 'Lower-middle-income countries', 'Micronesia', 'Oceania', 'Serbia and Montenegro', 'USSR', 'Upper-middle-income countries', 'Western Sahara', 'Yugoslavia']
x = ['Montenegro', 'Serbia', 'South Africa']

In [15]:
ds=ds.loc[ds['country'] != 'Serbia and Montenegro']

In [16]:
countrylist = delete_strings(countrylist, word, x)
countrylist

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [17]:
len(countrylist)

218

In [18]:
ds = ds[ds['country'].isin(countrylist)]
ds.shape

(7641, 22)

<hr>
<a class="anchor" id="datapreprocessing">
    
# 3. Data Preprocessing
    
</a>

<a class="anchor" id="datapreparation">

## 3.1. Data Preparation

</a>

In [19]:
# Count of missing values
data_nan = pd.DataFrame(ds.isna().sum(), columns=['Count'])
data_nan['Percentage (%)'] = round((data_nan['Count'] / len(ds))*100, 2)
data_nan

                                  Count  Percentage (%)
country                               0            0.00
year                                  0            0.00
population                            0            0.00
gdp                                2131           27.89
biofuel_elec_per_capita            2916           38.16
biofuel_electricity                2916           38.16
coal_elec_per_capita               2510           32.85
coal_electricity                   2510           32.85
gas_elec_per_capita                2510           32.85
gas_electricity                    2510           32.85
hydro_elec_per_capita              1967           25.74
hydro_electricity                  1967           25.74
nuclear_elec_per_capita            1931           25.27
nuclear_electricity                1931           25.27
oil_elec_per_capita                2510           32.85
oil_electricity                    2510           32.85
other_renewables_elec_per_capita   2080           27.22
other_renewable_electricity        2080           27.22
solar_elec_per_capita              2008           26.28
solar_electricity                  2008           26.28
wind_elec_per_capita               2017           26.40
wind_electricity                   2017           26.40

In [20]:
# Number of rows for each year
pd.DataFrame(ds.groupby('year').size())

        0
year
1985  199
1986  200
1987  200
1988  200
1989  200
1990  205
1991  205
1992  211
1993  211
1994  212
1995  212
1996  212
1997  213
1998  213
1999  213
2000  214
2001  214
2002  214
2003  215
2004  215
2005  216
2006  216
2007  216
2008  216
2009  216
2010  216
2011  216
2012  217
2013  217
2014  217
2015  217
2016  217
2017  217
2018  217
2019  217
2020  215

In [21]:
# Count missing values per year
na=pd.Series(index=np.unique(ds['year']),dtype='int64')
for i in range(0,len(np.unique(ds['year']))):
    value=np.unique(ds['year'])[i]
    mv=ds[ds['year']==value].isna().sum().sum()
    na.iloc[i]=mv
    
pd.DataFrame(na)

           0
1985  2734.0
1986  2753.0
1987  2753.0
1988  2753.0
1989  2753.0
1990  2489.0
1991  2491.0
1992  2599.0
1993  2598.0
1994  2617.0
1995  2617.0
1996  2617.0
1997  2635.0
1998  2635.0
1999  2635.0
2000   117.0
2001   118.0
2002   118.0
2003   119.0
2004   119.0
2005   119.0
2006   119.0
2007   119.0
2008   119.0
2009   119.0
2010   118.0
2011   119.0
2012   182.0
2013   182.0
2014   182.0
2015   182.0
2016   181.0
2017   181.0
2018   181.0
2019   347.0
2020   309.0

In [22]:
# Count missing values per country
na_2=pd.Series(index=ds['country'].unique(),dtype=object)
for i in range(0,len(ds['country'].unique())):
    value=np.unique(ds['country'])[i]
    mv=ds[ds['country']==value].isna().sum().sum()
    na_2.iloc[i]=mv
    
pd.DataFrame(na_2)

                  0
Afghanistan     272
Albania          92
Algeria         122
American Samoa  306
Angola          272
...             ...
Vietnam          32
World            60
Yemen           272
Zambia          272
Zimbabwe        272

[217 rows x 1 columns]

In [23]:
# Changing the missing values to 0
for i in ds.columns.to_list():
    ds[i].fillna(0, inplace = True)

In [24]:
# Checking for the missing values
data_nan = pd.DataFrame(ds.isna().sum(), columns=['Count'])
data_nan['Percentage (%)'] = round((data_nan['Count'] / len(ds))*100, 2)
data_nan

                                  Count  Percentage (%)
country                               0             0.0
year                                  0             0.0
population                            0             0.0
gdp                                   0             0.0
biofuel_elec_per_capita               0             0.0
biofuel_electricity                   0             0.0
coal_elec_per_capita                  0             0.0
coal_electricity                      0             0.0
gas_elec_per_capita                   0             0.0
gas_electricity                       0             0.0
hydro_elec_per_capita                 0             0.0
hydro_electricity                     0             0.0
nuclear_elec_per_capita               0             0.0
nuclear_electricity                   0             0.0
oil_elec_per_capita                   0             0.0
oil_electricity                       0             0.0
other_renewables_elec_per_capita      0             0.0
other_renewable_electricity           0             0.0
solar_elec_per_capita                 0             0.0
solar_electricity                     0             0.0
wind_elec_per_capita                  0             0.0
wind_electricity                      0             0.0

In [25]:
ds['Renewable Electricity'] = ds['biofuel_electricity']+ds['hydro_electricity']+ds['other_renewable_electricity']+ds['solar_electricity']+ds['wind_electricity']

In [26]:
ds['Non Renewable Electricity'] = ds['coal_electricity']+ds['gas_electricity']+ds['nuclear_electricity']+ds['oil_electricity']

In [27]:
ds['Electricity Consumption'] = ds['Renewable Electricity'] + ds['Non Renewable Electricity']

In [28]:
ds['Electricity Consumption per Capita']=ds['biofuel_elec_per_capita']+ds['hydro_elec_per_capita']+ds['other_renewables_elec_per_capita']+ds['solar_elec_per_capita']+ds['wind_elec_per_capita']

In [29]:
ds.head()

,country,year,population,gdp,biofuel_elec_per_capita,biofuel_electricity,coal_elec_per_capita,coal_electricity,gas_elec_per_capita,gas_electricity,...,other_renewables_elec_per_capita,other_renewable_electricity,solar_elec_per_capita,solar_electricity,wind_elec_per_capita,wind_electricity,Renewable Electricity,Non Renewable Electricity,Electricity Consumption,Electricity Consumption per Capita
85,Afghanistan,1985,10512220.0,1.710848e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,Afghanistan,1986,10448447.0,1.764135e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,Afghanistan,1987,10322767.0,1.581082e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,Afghanistan,1988,10383459.0,1.449907e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,Afghanistan,1989,10673172.0,1.348950e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
ds.rename(columns={'biofuel_electricity':'Biofuel','hydro_electricity':'Hydrogen','other_renewable_electricity':
                   'Other Renewables','solar_electricity':'Solar','wind_electricity':'Wind','coal_electricity':'Coal',
                   'gas_electricity':'Gas','nuclear_electricity':'Nuclear','oil_electricity':'Oil','biofuel_elec_per_capita'
                   :'Biofuel/cap','coal_elec_per_capita':'Coal/cap','gas_elec_per_capita':'Gas/cap','hydro_elec_per_capita':
                   'Hydrogen/cap','nuclear_elec_per_capita':'Nuclear/cap','oil_elec_per_capita':'Oil/cap',
                   'other_renewables_elec_per_capita':'Other Renewables/cap','solar_elec_per_capita':'Solar/cap',
                   'wind_elec_per_capita':'Wind/cap','Electricity Consumption per Capita':'Electricity Consumption/cap',
                   'country':'Country','year':'Year',
                   'gdp':'Gdp','population':'Population'
                   },inplace=True)

In [31]:
ds=ds[ds['Country']!="World"]

In [32]:
# Define a function to get the continent for a given country name
def country_to_continent(country_name):
    if country_name=="Cote d'Ivoire" or country_name=='Democratic Republic of Congo' or country_name=='Reunion' or country_name=='Saint Helena':
        return 'Africa'
    if country_name=='Czechoslovakia' or country_name=='Faeroe Islands' or country_name=='Kosovo':
        return "Europe"
    if country_name=='Netherlands Antilles':
        return "North America"
    if country_name=='Timor':
        return "Asia"
    else:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name

In [33]:
ds['Continent'] = ds['Country'].apply(country_to_continent)

In [34]:
ds.columns

Index(['Country', 'Year', 'Population', 'Gdp', 'Biofuel/cap', 'Biofuel',
       'Coal/cap', 'Coal', 'Gas/cap', 'Gas', 'Hydrogen/cap', 'Hydrogen',
       'Nuclear/cap', 'Nuclear', 'Oil/cap', 'Oil', 'Other Renewables/cap',
       'Other Renewables', 'Solar/cap', 'Solar', 'Wind/cap', 'Wind',
       'Renewable Electricity', 'Non Renewable Electricity',
       'Electricity Consumption', 'Electricity Consumption/cap', 'Continent'],
      dtype='object')

In [35]:
ds = ds.melt(id_vars=['Country', 'Year','Gdp','Continent','Population'],
              var_name='Electricity',
              value_name='Consumption'
)

ds

,Country,Year,Gdp,Continent,Population,Electricity,Consumption
0,Afghanistan,1985,1.710848e+10,Asia,10512220.0,Biofuel/cap,0.000
1,Afghanistan,1986,1.764135e+10,Asia,10448447.0,Biofuel/cap,0.000
2,Afghanistan,1987,1.581082e+10,Asia,10322767.0,Biofuel/cap,0.000
3,Afghanistan,1988,1.449907e+10,Asia,10383459.0,Biofuel/cap,0.000
4,Afghanistan,1989,1.348950e+10,Asia,10673172.0,Biofuel/cap,0.000
...,...,...,...,...,...,...,...
167305,Zimbabwe,2016,2.096179e+10,Africa,14452705.0,Electricity Consumption/cap,254.624
167306,Zimbabwe,2017,2.194784e+10,Africa,14751101.0,Electricity Consumption/cap,313.196
167307,Zimbabwe,2018,2.271535e+10,Africa,15052191.0,Electricity Consumption/cap,388.648
167308,Zimbabwe,2019,0.000000e+00,Africa,15354606.0,Electricity Consumption/cap,323.030
167309,Zimbabwe,2020,0.000000e+00,Africa,15669663.0,Electricity Consumption/cap,289.732

In [36]:
ds['Electricity'].unique()

array(['Biofuel/cap', 'Biofuel', 'Coal/cap', 'Coal', 'Gas/cap', 'Gas',
       'Hydrogen/cap', 'Hydrogen', 'Nuclear/cap', 'Nuclear', 'Oil/cap',
       'Oil', 'Other Renewables/cap', 'Other Renewables', 'Solar/cap',
       'Solar', 'Wind/cap', 'Wind', 'Renewable Electricity',
       'Non Renewable Electricity', 'Electricity Consumption',
       'Electricity Consumption/cap'], dtype=object)

In [37]:
ds_total=ds[ds['Electricity'].isin(['Biofuel','Coal','Gas','Hydrogen','Nuclear','Oil','Other Renewables','Solar','Wind'])]

In [38]:
ds_pc=ds[ds['Electricity'].isin(['Biofuel/cap','Coal/cap','Gas/cap','Hydrogen/cap','Nuclear/cap','Oil/cap','Other Renewables/cap',
                           'Solar/cap','Wind/cap','Electricity Consumption/cap'])]

In [39]:
def energy_ren(energy_type):
    if energy_type=='Biofuel' or energy_type=='Hydrogen' or energy_type=='Nuclear' or energy_type=='Other Renewables' or energy_type=='Solar' or energy_type=='Wind':
        return 'Renewable'
    else:
        return 'Non Renewable'

In [40]:
def energy_ren2(energy_type):
    if energy_type=='Biofuel/cap' or energy_type=='Hydrogen/cap' or energy_type=='Nuclear/cap' or energy_type=='Other Renewables/cap' or energy_type=='Solar/cap' or energy_type=='Wind/cap':
        return 'Renewable'
    else:
        return 'Non Renewable'

In [41]:
ds_total['Energy Category']=ds_total['Electricity'].apply(energy_ren)
ds_pc['Energy Category']=ds_pc['Electricity'].apply(energy_ren2)

C:\Users\migue\AppData\Local\Temp\ipykernel_8728\1925710290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_total['Energy Category']=ds_total['Electricity'].apply(energy_ren)
C:\Users\migue\AppData\Local\Temp\ipykernel_8728\1925710290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_pc['Energy Category']=ds_pc['Electricity'].apply(energy_ren2)

<a class="anchor" id="export">
    
## 4. Export
      
</a>

In [42]:
ds_total.to_csv("ds_total.csv")

In [43]:
ds_pc.to_csv("ds_pc.csv")

In [44]:
ds_total

,Country,Year,Gdp,Continent,Population,Electricity,Consumption,Energy Category
7605,Afghanistan,1985,1.710848e+10,Asia,10512220.0,Biofuel,0.0,Renewable
7606,Afghanistan,1986,1.764135e+10,Asia,10448447.0,Biofuel,0.0,Renewable
7607,Afghanistan,1987,1.581082e+10,Asia,10322767.0,Biofuel,0.0,Renewable
7608,Afghanistan,1988,1.449907e+10,Asia,10383459.0,Biofuel,0.0,Renewable
7609,Afghanistan,1989,1.348950e+10,Asia,10673172.0,Biofuel,0.0,Renewable
...,...,...,...,...,...,...,...,...
136885,Zimbabwe,2016,2.096179e+10,Africa,14452705.0,Wind,0.0,Renewable
136886,Zimbabwe,2017,2.194784e+10,Africa,14751101.0,Wind,0.0,Renewable
136887,Zimbabwe,2018,2.271535e+10,Africa,15052191.0,Wind,0.0,Renewable
136888,Zimbabwe,2019,0.000000e+00,Africa,15354606.0,Wind,0.0,Renewable
136889,Zimbabwe,2020,0.000000e+00,Africa,15669663.0,Wind,0.0,Renewable